﻿@{
    ViewBag.Title = "Hakkımızda";
}
 

<div class="item">
    <center><img src="~/images/hak.jpg" width="700" height="500" /></center>
    <center> <h4>Size daha iyi hizmet verebilmek için çalışan ekibimiz.. </h4></center>

</div>

<p>MAKEUP4EVER kozmetik sitemiz 2006 yılından beri güvenilir, ekonomik, kaliteli üretim ilkeleriyle siz değerli müşterilerimize ulaşmaktadır. Sitemizin kuruluş amacı en çok sevilen markaların en çok tercih edilen ürünlerini toplu bir şekilde sizin karşınıza getirip, en uygun fiyata sahip olmanızı sağlamaktır. Sitemizde çeşitli renklerden farlar, rujlar ve her ten rengine göre fondöten ve kapatıcılar bulunmaktadır. Her geçen gün koleksiyonumuza yeni ürünler eklemekte ve dünyanın dört bir yanındaki müşterilerimize istediklerini en kısa sürede ulaştırmaktayız. Sosyal medya hesaplarımızdan bize ulaşabilir, şikayet ve isteklerinizi bize bildirebilirsiniz. Bizi tercih ettiğiniz için teşekkür ederiz.</p>