﻿@{
    ViewBag.Title = "Rujlar";
}

<div class="item">
    <center><img src="~/images/alliks.jpg" width="500" height="500" /></center>
    <center> <h4>@Resource.Language.Allik1</h4></center>

</div>

<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik1.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:SWTY </p>
        <p>Ürün Adı:Swiss Dot</p>
        <p>Ağırlık:25g</p>
        <p>Kod:5E125</p> 
        <p>Fiyat:35₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik2.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:GHTC</p>
        <p>Ürün Adı:Paradise</p>
        <p>Ağırlık:28g</p>
        <p>Kod:5E345</p>
        <p>Fiyat:60₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik3.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:SDGH </p>
        <p>Ürün Adı:Plaisir</p>
        <p>Ağırlık:25g</p>
        <p>Kod:5SG25</p> 
        <p>Fiyat:40₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik4.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:PTHG </p>
        <p>Ürün Adı:Fall</p>
        <p>Ağırlık:25g</p>
        <p>Kod:5E1L5</p> 
        <p>Fiyat:80₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik5.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:SWTY </p>
        <p>Ürün Adı:Poudre</p>
        <p>Ağırlık:20g</p>
        <p>Kod:6E125</p> 
        <p>Fiyat:50₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik6.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:PLKL </p>
        <p>Ürün Adı:Star</p>
        <p>Ağırlık:5.5g</p>
        <p>Kod:6E126</p> 
        <p>Fiyat:90₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik7.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:DHTF </p>
        <p>Ürün Adı:Copper</p>
        <p>Ağırlık:12g</p>
        <p>Kod:5E125</p> 
        <p>Fiyat:30₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik8.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:GHTF </p>
        <p>Ürün Adı:Note</p>
        <p>Ağırlık:12g</p>
        <p>Kod:5EG75</p>
        <p>Fiyat:45₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik9.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:FGHT </p>
        <p>Ürün Adı:Lore</p>
        <p>Ağırlık:13g</p>
        <p>Kod:5E1L5</p>
        <p>Fiyat:35₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/allik10.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:YGRH </p>
        <p>Ürün Adı:Labar</p>
        <p>Ağırlık:18g</p>
        <p>Kod:5O825</p>
        <p>Fiyat:35₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>


