﻿@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<div class="item">
    <center><img src="~/images/ile.jpg" width="900" height="500" /></center>

</div>

<address>
    Şirket Bilgileri<br />
    Yıldız Caddesi Gül Mahallesi Çiçek Sokak No:325 Yeşilköy-İstanbul-Türkiye<br />
    <abbr title="Telefon:">Telefon:</abbr>
    0(212) 345 53 54
</address>

<address>
    <strong>Support:</strong>   <a href="sedanurercan@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="seda.ercan2@ogr.sakarya.edu.tr">Marketing@example.com</a>
</address>