﻿@{
    ViewBag.Title = "Farlar";
}


<div class="item">
    <center><img src="~/images/fars.jpg" width="500" height="500" /></center>
    <center> <h4>@Resource.Language.Far</h4></center>

</div>

<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far1.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:XYZZ</p>
        <p>Ürün Adı:Glitter</p>
        <p>Ağırlık:10g</p>
        <p>Kod:H7558G</p>
        <p>Fiyat:55₺</p>
    </div>
    
    <div class="col-md-4" style="color:#fff;">
        
        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>
       
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far2.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> <p> Marka:XYZZ</p>
        <p>Ürün Adı:Beat</p>
        <p>Ağırlık:10g</p>
        <p>Kod:H7508G</p>
        <p>Fiyat:60₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far3.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:XRRZ</p>
        <p>Ürün Adı:Sqlin</p>
        <p>Ağırlık:16g</p>
        <p>Kod:H754T</p>
        <p>Fiyat:45₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far4.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:AGY</p>
        <p>Ürün Adı:Colors</p>
        <p>Ağırlık:25g</p>
        <p>Kod:H7RT4</p>
        <p>Fiyat:120₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far5.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:PLK</p>
        <p>Ürün Adı:Pink</p>
        <p>Ağırlık:12g</p>
        <p>Kod:R558G</p>
        <p>Fiyat:70₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far6.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:DFG</p>
        <p>Ürün Adı:Every</p>
        <p>Ağırlık:30g</p>
        <p>Kod:L958G</p>
        <p>Fiyat:180₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far7.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:KJJ</p>
        <p>Ürün Adı:Naked</p>
        <p>Ağırlık:10g</p>
        <p>Kod:M958G</p>
        <p>Fiyat:175₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far8.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:POP</p>
        <p>Ürün Adı:Sky</p>
        <p>Ağırlık:20g</p>
        <p>Kod:AS28G</p>
        <p>Fiyat:125₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far9.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:KKF</p>
        <p>Ürün Adı:Grey</p>
        <p>Ağırlık:10g</p>
        <p>Kod:HR58G</p>
        <p>Fiyat:65₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/far10.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:ARTT</p>
        <p>Ürün Adı:Black</p>
        <p>Ağırlık:10g</p>
        <p>Kod:H7W8G</p>
        <p>Fiyat:150₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>


