﻿@{
    ViewBag.Title = "Fondoten";
}

<div class="item">
    <center><img src="~/images/fondotens.jpg" width="500" height="500" /></center>
    <center> <h4>@Resource.Language.Fond </h4></center>

</div>

<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten1.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:PLLKO </p>
        <p>Ürün Adı:Mineral Touch Liquid Foundation</p>
        <p>Ağırlık:20ml</p>
        <p>Kod:DGTH6</p>
        <p>Fiyat:200₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten2.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:GIORGIO </p>
        <p>Ürün Adı:Maestro Fusion Makeup Octinoxate Sunscreen Broad Spectrum</p>
        <p>Ağırlık:25ml</p>
        <p>Kod:86HJK</p>
        <p>Fiyat:250₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten3.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:ELF </p>
        <p>Ürün Adı:Acne Fighting Foundation</p>
        <p>Ağırlık:20ml</p>
        <p>Kod:45GD7</p>
        <p>Fiyat:80₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten4.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:Maybelline </p>
        <p>Ürün Adı:Dream Matte Mousse</p>
        <p>Ağırlık:18g</p>
        <p>Kod:78825</p>
        <p>Fiyat:35₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten5.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:Marle Norman </p>
        <p>Ürün Adı:Perfecting Makeup Broad Spactrum</p>
        <p>Ağırlık:30ml</p>
        <p>Kod:5ML25</p>
        <p>Fiyat:130₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten6.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:NYX </p>
        <p>Ürün Adı:Stay Matte But Not Flat Liquid Foundation</p>
        <p>Ağırlık:20ml</p>
        <p>Kod:34825</p>
        <p>Fiyat:65₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten7.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:NARS </p>
        <p>Ürün Adı:Liquid Consealer</p>
        <p>Ağırlık:18g</p>
        <p>Kod:5O825</p>
        <p>Fiyat:120₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten8.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:NARS </p>
        <p>Ürün Adı:Consealer</p>
        <p>Ağırlık:18g</p>
        <p>Kod:67825</p>
        <p>Fiyat:130₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten9.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:SLEEK </p>
        <p>Ürün Adı:Luminaire</p>
        <p>Ağırlık:18g</p>
        <p>Kod:L9825</p>
        <p>Fiyat:55₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/fondoten10.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:CLINIQUE </p>
        <p>Ürün Adı:All About Eyes Concealer</p>
        <p>Ağırlık:15g</p>
        <p>Kod:9O825</p>
        <p>Fiyat:190₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>


