﻿@{
    ViewBag.Title = "Anasayfa";
}

<div class="item" align="center" style="color:#fff">
 
    <h1>MAKEUP4EVER</h1>
    
    <h4>@Resource.Language.Text</h4>
   <br />
</div>

<div class="container">
</div>
<div class="row">
        <div class="container">
            <div class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/4.jpg" alt="asd">
                            <div class="carousel-caption img-responsive">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/1.jpg" alt="aassd">
                            <div class="carousel-caption img-responsive">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/3.jpg" alt="asdssd">
                            <div class="carousel-caption img-responsive">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/2.jpg" alt="asfdd">
                            <div class="carousel-caption img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>



        <div class="row" style="color:#000000";>
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading"><span class="fa fa-user"></span><h1>@Resource.Language.Announcements</h1></div>
                    <div class="panel-body">
                        <h2>Duyurular</h2>
                        <h3>İndirime Giren Ürünler </h3>
                        <p>-Dudak ürünlerinde %20 indirim </p>
                        <p>-Ten ürünlerinde 1 alana 1 bedava </p>
                        <h3>Stokları Sınırlı Ürünler</h3>
                        <p>-Yılbaşı koleksiyon ürünleri</p>
                        <p>-Likit mat rujlar</p>
                        <p><a class="btn btn-default"href="~/Duyurular">Tüm duyurular için tıklayınız. &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading"><span class="fa fa-user"></span> <h1>@Resource.Language.Comments</h1></div>
                    <div class="panel-body">
                        <p>Ürünler ve şirketimizin hizmeti hakkında yorumlarınızı bildiriniz.</p>
                        <p><a href="~/Yorumlar/Create" class="btn btn-success btn-block">Yorum yap</a></p>
                        <p><a href="~/Yorumlar"class="btn btn-success btn-block">Tüm yorumlar</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="color:#fff;">
                <img src="~/images/as.jpg" alt="safasf">
                <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=3xaixpcsXUM">İzlemek İçin Tıklayın &raquo;</a></p>
                <p>Birbirinden renkli rujlar</p>
            </div>
            <div class="col-md-4" style="color:#fff;">
                <img src="~/images/ass.jpg" alt="agdsgfsd">
                <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=a5UMvVc8asU">İzlemek İçin Tıklayın &raquo;</a></p>
                <p>Göz kamaştırıcı farlar</p>
            </div>
            <div class="col-md-4" style="color:#fff;">
                <img src="~/images/asss.jpg" alt="seda">
                <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=FyesNLLpPig">İzlemek İçin Tıklayın &raquo;</a></p>
                <p>Farların tendeki görünümleri</p>
            </div>
        </div>
