﻿@{
    ViewBag.Title = "Rimeller";
}

<div class="item">
    <center><img src="~/images/rimels.jpg" width="500" height="500" /></center>
    <center> <h4>@Resource.Language.Rimel</h4></center>

</div>

<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel1.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:Urban Decay </p>
        <p>Ürün Adı:Perversion Bigger Blacker Badder</p>
        <p>Ağırlık:18g</p>
        <p>Kod:0L825</p>
        <p>Fiyat:90₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel2.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:NARS </p>
        <p>Ürün Adı:Perfectionist Lashes</p>
        <p>Ağırlık:15g</p>
        <p>Kod:PO825</p>
        <p>Fiyat:100₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel3.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:BENEFIT </p>
        <p>Ürün Adı:They're Real</p>
        <p>Ağırlık:20g</p>
        <p>Kod:Y3825</p>
        <p>Fiyat:110₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel4.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:MAYBELLINE </p>
        <p>Ürün Adı:The Falsies Push Up Angel</p>
        <p>Ağırlık:15g</p>
        <p>Kod:P5825</p>
        <p>Fiyat:35₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel5.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:TC </p>
        <p>Ürün Adı:Tilbue</p>
        <p>Ağırlık:18g</p>
        <p>Kod:65R25</p>
        <p>Fiyat:80₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel6.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:MAYBELLINE </p>
        <p>Ürün Adı:Lash Sensational</p>
        <p>Ağırlık:18g</p>
        <p>Kod:5O825</p>
        <p>Fiyat:35₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel7.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:LOREAL </p>
        <p>Ürün Adı:Voluminous</p>
        <p>Ağırlık:18g</p>
        <p>Kod:TH625</p>
        <p>Fiyat:45₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel8.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:RMS </p>
        <p>Ürün Adı:Blacklest</p>
        <p>Ağırlık:18g</p>
        <p>Kod:OK987</p>
        <p>Fiyat:70₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel9.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:Maybelline </p>
        <p>Ürün Adı:The Falsies Volum Express</p>
        <p>Ağırlık:18g</p>
        <p>Kod:7O825</p>
        <p>Fiyat:35₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/rimel10.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p>Marka:NYX </p>
        <p>Ürün Adı:Fly With Me Mascara</p>
        <p>Ağırlık:18g</p>
        <p>Kod:5OK25</p>
        <p>Fiyat:55₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>


