﻿@{
    ViewBag.Title = "Rujlar";
}

<div class="item">
    <center><img src="~/images/rujs.jpg" width="500" height="500" /></center>
    <center> <h4>@Resource.Language.Ruj </h4></center>

</div>

<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj1.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:NARS</p>
        <p>Ürün Adı:Black Red</p>
        <p>Ağırlık:5g</p>
        <p>Kod:H778G</p>
        <p>Fiyat:90₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj2.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:ELF</p>
        <p>Ürün Adı:Moisturizing Lipstick</p>
        <p>Ağırlık:5g</p>
        <p>Kod:KL88G</p>
        <p>Fiyat:40₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj3.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:KOPJH</p>
        <p>Ürün Adı:Glitter</p>
        <p>Ağırlık:5g</p>
        <p>Kod:H7558G</p>
        <p>Fiyat:55₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj4.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:MAC</p>
        <p>Ürün Adı:Kliydt</p>
        <p>Ağırlık:5g</p>
        <p>Kod:H7558G</p>
        <p>Fiyat:55₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj5.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:DFGGT</p>
        <p>Ürün Adı:Gdghr</p>
        <p>Ağırlık:5g</p>
        <p>Kod:H7558G</p>
        <p>Fiyat:35₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj6.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:ELF</p>
        <p>Ürün Adı:Moisturizing Lipstick</p>
        <p>Ağırlık:5g</p>
        <p>Kod:57L8G</p>
        <p>Fiyat:40₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj7.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:LKFR</p>
        <p>Ürün Adı:Lofrg</p>
        <p>Ağırlık:5g</p>
        <p>Kod:P7558G</p>
        <p>Fiyat:45₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj8.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:KHYFV</p>
        <p>Ürün Adı:Bodyography</p>
        <p>Ağırlık:5g</p>
        <p>Kod:L7558G</p>
        <p>Fiyat:65₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj9.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:KFRG</p>
        <p>Ürün Adı:Kliydt</p>
        <p>Ağırlık:5g</p>
        <p>Kod:H7558G</p>
        <p>Fiyat:55₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4" style="color:#fff;">
        <img src="~/images/ruj10.jpg" alt="safasf" width=350 height=350>
    </div>
    <div class="col-md-4" style="color:#fff;">
        <p> Marka:MAC</p>
        <p>Ürün Adı:Kliydt</p>
        <p>Ağırlık:5g</p>
        <p>Kod:H7558G</p>
        <p>Fiyat:55₺</p>
    </div>
    <div class="col-md-4" style="color:#fff;">

        <p><a class="btn btn-default" href="~/SatinAls/Create">Satın Al &raquo;</a></p>

    </div>
</div>


