﻿@model WebApplication6.Models.Yorumlar

@{
    ViewBag.Title = "Details";
}
<div style="color:#ffffff">
    <h2>Detaylar</h2>
</div>

<div style="color:#ffffff">
    <h4>Yorumlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YorumlarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
