﻿<!DOCTYPE html>
<html>
<head > 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MAKEUP4EVER</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: black;
            background-image: url('/images/ark.png');
background-attachment:fixed;
background-clip:border-box;
background-origin:padding-box;
background-position-x:100%;
background-position-y:100%;
background-size:auto;
    


        }

    </style>

</head>

<body>
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#000000">
            <div class="container" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" style="color:#8D0505">
                    <ul class="nav navbar-nav">
                        <li><h3>MAKEUP4EVER</h3></li>
                        <li > @Html.ActionLink(Resource.Language.Home, "Index", "Home")</li>
                        <li class="dropdown-menu" style="background-color:#000000">
                            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="text-align:center">@Resource.Language.Products<span class="caret"></span></a>
                            <style type="text/css">
                                body ul {
                                    margin: 0px;
                                    padding: 0px;
                                    list-style-type: none;
                                }
                            </style>
                            <ul class="dropdown-menu" id="menucont">
                                <li>
                                    @Html.ActionLink(Resource.Language.Eyeshadow, "Farlar", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink(Resource.Language.Lipstick, "Rujlar", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink(Resource.Language.Blusher, "Alliklar", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink(Resource.Language.Mascara, "Rimeller", "Home")
                                </li>
                                <li>
                                    @Html.ActionLink(Resource.Language.Foundation, "Fondoten", "Home")
                                </li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink(Resource.Language.About, "About", "Home")</li>
                        <li>@Html.ActionLink(Resource.Language.Contact, "Contact", "Home")</li>
                       
</ul>
                    
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MAKEUP4EVER </p>
            <script language="javascript" src="http://is.sitekodlari.com/yukaricik3.js"></script>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
