﻿@model WebApplication6.Models.SatinAl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SatinAl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvAdresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvAdresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KrediKartiNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KrediKartiNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SatinAlID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
