﻿@model IEnumerable<WebApplication6.Models.SatinAl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvAdresi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KrediKartiNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvAdresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KrediKartiNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SatinAlID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SatinAlID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SatinAlID })
        </td>
    </tr>
}

</table>
