﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}
<div class="row" style="text-align:center;">
    <h2>@Resource.Language.Roller</h2>
    <hr />
</div>
@Html.ActionLink(Resource.Language.RolEkle, "RolEkle") | @Html.ActionLink(Resource.Language.RolAta, "RolKullaniciEkle")
<br />
<br />
@foreach (var item in Model)
{

    <tr>
        <td>@item.Name : </td>
        <td> @item.Users.Count</td>
    </tr>

    <br />        <br />
}