﻿@model WebApplication6.Models.RolEkleModel
@{
    ViewBag.Title = "RolKullaniciEkle";
}
<div class="row" style="text-align:center;">
    <h2>@Resource.Language.RolAta</h2>
    <hr />
</div>
@using (Html.BeginForm("RolKullaniciEkle", "Rol", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kullanıcı Adı : ", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />    <br />
    <div class="form-group">
        @Html.Label("Rol Adı : ", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
}