﻿@model IEnumerable<WebApplication6.Models.Duyurular>

@{
    ViewBag.Title = "Index";
}
<div style="color:#ffffff">
    <h2>Index</h2>

</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="color:#ffffff">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icerik)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DuyurularID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DuyurularID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DuyurularID })
        </td>
    </tr>
}

</table>
